#contact {
    background: url('../assets/07gallardo.jpg') no-repeat center;
    background-size: cover;
    background-color: white;
    color: #003603; 
    text-shadow: 10px;
    text-align: center;
    height: 470px;
}
