.jumbotron{
    padding: 30px;
    font-family: var(--font-two);
    background: url('../assets/18mclaren.jpg') no-repeat center;
    background-size: cover;
    background-color: white;
    color: #197a01; 
    text-shadow: 10px;
    text-align: center;
    height: 500px;
}

.jumbotron1{
    font-family: var(--font-one);
    background: url('../assets/construction.jpg') no-repeat center;
    background-size: cover;
    padding: 30px;
    background-color: white;
    color: #03a315; 
    text-shadow: 10px;
    text-align: center;
    height: 383px;
}

.wrapper{
    background-color:rgb(0,0,0,0.7);
}

.util-br {
    border-radius: 9px;
}
