.jumbotron{
    background: url('../assets/18mclaren.jpg') no-repeat center;
    background-size: cover;
    background-color: white;
    color: #03a315; 
    text-shadow: 10px;
    text-align: center;
    height: 383px;
}

.wrapper{
    background-color:rgb(0,0,0,0.7);
}

.util-br {
    border-radius: 9px;
}
