:root {
    --red: #eb0d0d;
    --green: #009432;
    --yellowGreen: #A3CB38;
    --grey: #3D3D3D;
    --lightGreen: #44BD32;
    --black: #040404;
    --violet: #8E44AD;
    --bloodOrange: #C23616;
    --purple: #FFFFFF;
    --mintGreen: #10AC84;

    --font-one: 'Gugi', cursive;
}